{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'app_blog/img/favicon.ico' %}" rel="shortcat icon" type="image/x-icon">
    <link href="{% static 'app_blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app_blog/css/fontello.css' %}" rel="stylesheet">
    <link href="{% static 'app_blog/css/style.css' %}" rel="stylesheet">
</head>
<body>
{% include 'includes/navbar.html' %}
{% include 'includes/header.html' %}

<div class="main container">
    {% block content %} {% endblock %}
</div>


{% include 'includes/footer.html' %}
<script src="{% static 'app_blog/js/bootstrap.bundle.js' %}"></script>
</body>
</html>