{% extends "app_blog/base.html" %}
{% load static %}
{% block title %}
my blog
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-3 text-center">
            <h4>зарегистрированные пользователи</h4>
            {% if users_list %}
                {% for user in users_list %}
                    <ul>
                        <li>{{ user.username }} <a href="#">перейти к статьям</a></li>
                    </ul>
                {% endfor %}
            {% else %}
                <p>Еще нет зарегистрированных пользователей</p>
            {% endif%}
        </div>
        <div class="col-xl-9 text-center">
            <h4>посты</h4>
        </div>
    </div>
</div>
{% endblock %}