{% extends "app_blog/base.html" %}
{% load static %}
{% block title %}
удаление пользователя
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Здесь можно удалить пользователя {{ object.username }}</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit">Удалить пользователя</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}